<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style/style.css">
   <title>Интернет-магазин</title>
</head>

<body>
   <div id="app">
      <header>
         <div class="headerInside">
            <a class="logo" href="index.html"><img src="images/origami-logo.svg" alt="Logo"></a>
            <div class="companyName">Brand</div>
            <search :userSearch="userSearch" @submit.prevent='filter'>
            </search>
            <form action="#" class="search-form" @submit.prevent="filter">
               <input type="text" class="search-field" v-model="userSearch">
               <button class="btn-search" type="submit">
                  <i class="fas fa-search"></i>
               </button>
            </form>
            <button @click="showCart()" class="btn-cart" type="button">Корзина</button>
         </div>
      </header>
      <main>
         <cart :bascet="bascet" :img="imgCart" @remove="remove" @add-product="addProduct"></cart>

         <!-- <div class="cart">
            <p class="cart__empty" v-if="!bascet.length">Нет выбранных товаров</p>
            <div class="cart-item" v-for="product of bascet" :key="product.id_product">
               <div class="product-bio">
                  <img :src="imgCart" alt="Some img">
                  <div class="product-desc">
                     <p class="product-title">{{product.product_name}}</p>
                     <p class="product-single-price">{{product.price}} $</p>
                     <div class="quantity">
                        <button class="del-btn" @click="remove(product)">-</button>
                        <p class="product-quantity">Quantity: {{ product.quantity }}</p>
                        <button class="add-btn" @click="addProduct(product)">+</button>
                     </div>
                  </div>
               </div>
               <div class="right-block">
                  <p class="product-price">{{ product.price * product.quantity}} $</p>
               </div>
            </div>
         </div> -->
         <products :products="products" :img="imgCatalog" @add-product="addProduct"></products>
      </main>
   </div>
   <footer>
      <div class="footerInside">

         <div class="contacts">
            <div class="contactWrap">
               <img src="images/envelope.svg" class="contactIcon">
               info@brandshop.ru
            </div>
            <div class="contactWrap">
               <img src="images/phone-call.svg" class="contactIcon">
               8 800 555 00 00
            </div>
            <div class="contactWrap">
               <img src="images/placeholder.svg" class="contactIcon">
               Москва, пр-т Ленина, д. 1 офис 304
            </div>
         </div>

         <div class="footerNav">
            <a href="index.html">Главная</a>
            <a type="button" href="#">Кнопка для вида</a>
         </div>

         <div class="social">
            <img class="socialItem" src="images/vk-social-logotype.svg">
            <img class="socialItem" src="images/google-plus-social-logotype.svg">
            <img class="socialItem" src="images/facebook-logo.svg">
         </div>

         <div class="copyrights">&copy; Brandshop</div>
      </div>
   </footer>

   <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
      integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
      crossorigin="anonymous"></script>
   <script src="js/vue.js"></script>
   <script src="js/SearchComponent.js"></script>
   <script src="js/ProductComponent.js"></script>
   <script src="js/BascetComponent.js"></script>
   <script src="js/main.js"></script>
</body>

</html>